body {
    background-color: #1F618D ;
	/* Use a system font, if none are available use an available sans-sarif   font */
	font-family: 'Ubuntu', sans-serif;
  color: #E5E7E9;
	margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}

section.board {
  display: grid;
  grid-template-rows: repeat(3, 10vmin);
  grid-template-columns: repeat(3, 10vmin);
  grid-gap: 0vmin;
  margin: auto;
  position: sticky;
  bottom: 300px;

}

div {
  background-color: #D0D3D4  ;
  border: 2px solid #707B7C;
  font-size: 8vmin;
  text-align: center;
  vertical-align: middle;
  box-shadow: 0 -5px 3px -3px black, 0 5px 3px -3px black;
  

  
}
button {
  border: 1px solid #fa5a38;
  margin: 10px 300px 10px 300px;
  color: whitesmoke;
  background-color: #FA5A38;
  display: inline;
  position: sticky;
  left: auto;
  right: 20;
  bottom: 300px;
  

}